@keyframes move-in-left {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes move-in-right {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes move-in-bottom {
  0% {
    opacity: 0;
    transform: translateY(35px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 65.2%; }

body {
  box-sizing: border-box; }

body.has-popup {
  padding: 0;
  overflow: hidden; }

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #777;
  padding: 20px; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: move-in-left 0.7s ease-in-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    animation: move-in-right 0.7s ease-in-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background: linear-gradient(to left, #28b485, #7ed56f);
  display: inline-block;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: transform .3s;
  letter-spacing: 2px; }
  .heading-secondary:hover {
    transform: skewY(5deg) skewX(10deg);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-nowrap-text {
  white-space: nowrap; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.15;
  z-index: -1;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 40px;
  position: relative;
  display: inline-block;
  border-radius: 100px;
  font-size: 1.6rem;
  transition: all 0.2s;
  outline: none;
  border: none;
  cursor: pointer; }

.btn--animated {
  animation: move-in-bottom 0.3s 0.70s;
  animation-fill-mode: backwards; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.3) scaleY(1.5);
    opacity: 0; }

.btn:active, .btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  color: #777;
  background-color: #fff; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  color: #fff;
  background-color: #55c57a; }
  .btn--green::after {
    background-color: #55c57a; }

.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 100px;
  transition: all .3s ease-out; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  text-decoration: none;
  color: #55c57a;
  display: inline-block;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.12);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    transition: all 0.2s;
    outline-offset: 8px; }
    .composition__photo--1 {
      left: 0;
      top: -2rem; }
    .composition__photo--2 {
      right: 0;
      top: 2rem; }
    .composition__photo--3 {
      top: 10rem;
      left: 20%;
      transform: rotate(-2deg); }
    .composition__photo:hover {
      transform: scale(1.05) translateY(-0.5rem);
      z-index: 1;
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.6);
      outline: 8px solid #55c57a; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(255, 255, 255, 0.15);
  transition: transform 0.2s;
  min-height: 31.52rem; }
  .feature-box__icon {
    font-size: 6rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: linear-gradient(to left top, rgba(40, 180, 133, 0.8), rgba(126, 213, 111, 0.8));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.02); }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  border: none;
  font-family: inherit;
  border-bottom: 3px solid transparent;
  display: block;
  width: 80%;
  color: inherit;
  transition: all 0.3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    border-color: #55c57a; }
    .form__input:focus:invalid {
      border-color: #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all 0.3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 48%;
  display: inline-block; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.7rem; }

.form__radio-input {
  visibility: hidden; }

.form__radio-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  margin-top: -6px;
  border: 5px solid #55c57a;
  border-radius: 50%; }
  .form__radio-button::after {
    content: "";
    display: block;
    width: 0.89rem;
    height: 0.89rem;
    border-radius: 50%;
    opacity: 0;
    background-color: #55c57a;
    transition: 0.2s; }

.form__radio-input:checked + .form__radio-label .form__radio-button::after {
  opacity: 1; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 51rem; }
  .card__side {
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    height: 51rem;
    transition: all 1s ease;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden; }
    .card__side--front {
      transform: rotateY(0deg);
      background: #fff; }
    .card__side--back {
      background-color: red;
      transform: rotateY(-180deg); }
      .card__side--back--1 {
        background-image: linear-gradient(to left top, #ffb900, #ff7730); }
      .card__side--back--2 {
        background-image: linear-gradient(to left top, #7ed56f, #28b485); }
      .card__side--back--3 {
        background-image: linear-gradient(to left top, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    overflow: hidden;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("../img/nat-6.jpg"); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url("../img/nat-5.jpg"); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("../img/nat-7.jpg"); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    max-width: 75%;
    color: #fff;
    position: absolute;
    top: 14rem;
    right: 2rem;
    text-align: right; }
  .card__heading-span {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 1rem 1.2rem; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      max-width: 85%;
      margin: 0 auto; }
      .card__details ul li {
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    text-align: center;
    transform: translate(-50%, -50%); }
  .card__price-box {
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.popup {
  position: fixed;
  inset: 0;
  background-color: rgba(119, 119, 119, 0.9);
  z-index: 3000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__close:link, .popup__close:visited {
    text-decoration: none;
    cursor: pointer;
    font-size: 3rem;
    position: absolute;
    top: 2rem;
    right: 2.2rem;
    transition: all 0.3s;
    line-height: 1; }
  .popup__close:hover, .popup__close:active {
    color: #55c57a; }
  .popup__content {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
    position: relative;
    top: 50%;
    transform: scale(0.5) translateY(-50%);
    background-color: white;
    z-index: 5000;
    border-radius: 3px;
    display: table;
    gap: 5rem;
    overflow: hidden;
    transition: all 0.3s 0.2s; }
  .popup:target .popup__content {
    transform: translateY(-50%) scale(1); }
  .popup__left {
    width: 33.333333%;
    display: table-cell; }
  .popup__right {
    width: 66.666666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
    .popup__right .heading-tertiary {
      margin-bottom: 1rem; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    line-height: 1.5;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #f7f7f7;
    hyphens: auto; }

.story {
  width: 75%;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  transform: skewX(-12deg); }
  .story__picture {
    width: 15rem;
    height: 15rem;
    background-color: green;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
  .story__img {
    height: 100%;
    transform: translateX(-3.8rem) scale(1.2);
    background-position: left;
    transition: all 0.4s; }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    opacity: 0;
    left: 55%;
    text-transform: uppercase;
    font-size: 1.7rem;
    transform: translate(-50%, 100%);
    color: #fff;
    transition: all 0.5s;
    backface-visibility: hidden; }
  .story:hover .story__img {
    transform: translateX(-3.8rem) scale(1);
    filter: blur(3px) brightness(90%); }
  .story:hover .story__caption {
    transform: translate(-50%, -50%);
    opacity: 1; }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    display: inline-block;
    padding-top: 2rem;
    border-top: 1px solid #f7f7f7; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    color: #f7f7f7;
    background-color: #333;
    transition: all 0.3s; }
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    transform: rotate(5deg) scale(1.1);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
  .footer__copyright {
    border-top: 1px solid #f7f7f7;
    padding-top: 2rem;
    display: inline-block; }

.header {
  background-image: linear-gradient(to right top, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("/img/hero.jpg");
  background-position: center;
  background-size: cover;
  min-height: 95vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 77vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 77vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 35px;
    left: 35px; }
  .header__logo {
    height: 35px; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 102rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3rem; }
  .row .col-1-of-2 {
    width: calc((100% - 3rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 3rem) / 3); }
  .row .col-2-of-3 {
    width: calc(((100% - 2 * 3rem) / 3) * 2 + 3rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 3rem) / 4); }
  .row .col-2-of-4 {
    width: calc(((100% - 3 * 3rem) / 4) * 2 + 3rem); }
  .row .col-3-of-4 {
    width: calc(((100% - 3 * 3rem) / 4) * 3 + (2 * 3rem)); }

.navigation__checkbox {
  display: none; }

.navigation__button {
  width: 7rem;
  height: 7rem;
  position: fixed;
  top: 6.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 6.3rem;
  border-radius: 50%;
  text-align: center;
  background-color: #fff;
  z-index: 2000;
  transition: all 0.8s;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1); }

.navigation__background {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 1000;
  background-image: radial-gradient(#7ed56f, #28b485);
  transition: transform 0.8s cubic-bezier(0.75, 0.32, 0.55, 0.68); }

.navigation__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.75, 0.32, 0.55, 0.68); }

.navigation__list {
  list-style-type: none; }

.navigation__icon, .navigation__icon::after, .navigation__icon::before {
  display: inline-block;
  width: 3.5rem;
  height: 3px;
  background-color: #999;
  transition: all 0.2s; }

.navigation__icon:hover .navigation__icon::before {
  transform: translateY(-6px); }

.navigation__icon::after, .navigation__icon::before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%; }

.navigation__icon::after {
  top: 40%; }

.navigation__icon::before {
  top: 60%; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  transform: rotate(45deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    transform: rotate(-87deg) translate(0px, -18px); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    opacity: 0; }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  padding: 1rem 2rem;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: .5s; }
  .navigation__link:link span, .navigation__link:visited span {
    display: inline-block;
    margin-right: 1.6rem; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -18vh; }

.section-features {
  background: linear-gradient(to top left, rgba(40, 180, 133, 0.8), rgba(40, 180, 133, 0.8)), url("/img/nat-10.jpg");
  background-size: cover;
  background-position: center;
  padding: 20rem 0;
  transform: skewY(-7deg) translateY(-7rem); }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -23.5vh; }

.section-stories {
  padding: 30rem 0;
  position: relative; }
  .section-stories .row {
    z-index: 33;
    margin-right: 8rem; }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url("../../img/nat-10.jpg");
  background-size: 100%;
  height: 50rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(40, 180, 133, 0.15); }
  .book__form {
    width: 50%;
    padding: 6rem 0rem 6rem 6rem; }
