@keyframes move-in-left {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes move-in-right {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes move-in-bottom {
  0% {
    opacity: 0;
    transform: translateY(35px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 65.2%; }

body {
  box-sizing: border-box; }

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #777;
  padding: 20px; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: move-in-left 0.7s ease-in-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    animation: move-in-right 0.7s ease-in-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background: linear-gradient(to left, #28b485, #7ed56f);
  display: inline-block;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: transform .3s;
  letter-spacing: 2px; }
  .heading-secondary:hover {
    transform: skewY(5deg) skewX(10deg);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-nowrap-text {
  white-space: nowrap; }

.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 40px;
  position: relative;
  display: inline-block;
  border-radius: 100px;
  font-size: 1.6rem;
  transition: all 0.2s; }

.btn--animated {
  animation: move-in-bottom 0.3s 0.70s;
  animation-fill-mode: backwards; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.3) scaleY(1.5);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  color: #777;
  background-color: #fff; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  color: #fff;
  background-color: #55c57a; }
  .btn--green::after {
    background-color: #55c57a; }

.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 100px;
  transition: all .3s ease-out; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  text-decoration: none;
  color: #55c57a;
  display: inline-block;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.12);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    transition: all 0.2s;
    outline-offset: 8px; }
    .composition__photo--1 {
      left: 0;
      top: -2rem; }
    .composition__photo--2 {
      right: 0;
      top: 2rem; }
    .composition__photo--3 {
      top: 10rem;
      left: 20%;
      transform: rotate(-2deg); }
    .composition__photo:hover {
      transform: scale(1.05) translateY(-0.5rem);
      z-index: 1;
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.6);
      outline: 8px solid #55c57a; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(255, 255, 255, 0.15);
  transition: transform 0.2s;
  min-height: 31.52rem; }
  .feature-box__icon {
    font-size: 6rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: linear-gradient(to left top, rgba(40, 180, 133, 0.8), rgba(126, 213, 111, 0.8));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.02); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 51rem; }
  .card__side {
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    height: 51rem;
    transition: all 1s ease;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden; }
    .card__side--front {
      transform: rotateY(0deg);
      background: #fff; }
    .card__side--back {
      background-color: red;
      transform: rotateY(-180deg); }
      .card__side--back--1 {
        background-image: linear-gradient(to left top, #ffb900, #ff7730); }
      .card__side--back--2 {
        background-image: linear-gradient(to left top, #7ed56f, #28b485); }
      .card__side--back--3 {
        background-image: linear-gradient(to left top, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    overflow: hidden;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("../img/nat-6.jpg"); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url("../img/nat-5.jpg"); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("../img/nat-7.jpg"); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    max-width: 75%;
    color: #fff;
    position: absolute;
    top: 14rem;
    right: 2rem;
    text-align: right; }
  .card__heading-span {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 1rem 1.2rem; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      max-width: 85%;
      margin: 0 auto; }
      .card__details ul li {
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    text-align: center;
    transform: translate(-50%, -50%); }
  .card__price-box {
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.story {
  width: 75%;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  transform: skewX(-12deg); }
  .story__picture {
    width: 15rem;
    height: 15rem;
    background-color: green;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
  .story__img {
    height: 100%;
    transform: translateX(-3.8rem) scale(1.2);
    background-position: left;
    transition: all 0.4s; }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    opacity: 0;
    left: 55%;
    text-transform: uppercase;
    font-size: 1.7rem;
    transform: translate(-50%, 100%);
    color: #fff;
    transition: all 0.5s;
    backface-visibility: hidden; }
  .story:hover .story__img {
    transform: translateX(-3.8rem) scale(1);
    filter: blur(3px) brightness(90%); }
  .story:hover .story__caption {
    transform: translate(-50%, -50%);
    opacity: 1; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.15;
  z-index: -1;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.header {
  background-image: linear-gradient(to right top, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("/img/hero.jpg");
  background-position: center;
  background-size: cover;
  min-height: 95vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 77vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 77vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 35px;
    left: 35px; }
  .header__logo {
    height: 35px; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 102rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3rem; }
  .row .col-1-of-2 {
    width: calc((100% - 3rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 3rem) / 3); }
  .row .col-2-of-3 {
    width: calc(((100% - 2 * 3rem) / 3) * 2 + 3rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 3rem) / 4); }
  .row .col-2-of-4 {
    width: calc(((100% - 3 * 3rem) / 4) * 2 + 3rem); }
  .row .col-3-of-4 {
    width: calc(((100% - 3 * 3rem) / 4) * 3 + (2 * 3rem)); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -18vh; }

.section-features {
  background: linear-gradient(to top left, rgba(40, 180, 133, 0.8), rgba(40, 180, 133, 0.8)), url("/img/nat-10.jpg");
  background-size: cover;
  background-position: center;
  padding: 20rem 0;
  transform: skewY(-7deg) translateY(-7rem); }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -23.5vh; }

.section-stories {
  padding: 30rem 0;
  position: relative; }
  .section-stories .row {
    z-index: 33;
    margin-right: 8rem; }
