.header {
    background-image: linear-gradient(to right top, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url("/img/hero.jpg");
    background-position: center;
    background-size: cover;
    min-height: 95vh;
    clip-path: polygon(0 0, 100% 0, 100% 77vh, 0 100%);
    position: relative;

    &__logo-box {
        position: absolute;
        top: 35px;
        left: 35px;
    }

    &__logo {
        height: 35px;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}