.navigation {
    &__checkbox {
        display: none;
    }

    &__button {
        width: 7rem;
        height: 7rem;
        position: fixed;
        top: 6.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 6.3rem;
        border-radius: 50%;
        text-align: center;
        background-color: $color-white;
        z-index: 2000;
        transition: all 0.8s;
        box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
    }

    &__background {
        width: 6.5rem;
        height: 6.5rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        z-index: 1000;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        transition: transform 0.8s cubic-bezier(.75, .32, .55, .68);
    }

    &__nav {
        height: 100vh;
        width: 0;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1500;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: all 0.6s cubic-bezier(.75, .32, .55, .68);
    }

    &__list {
        list-style-type: none;
    }

    &__icon {

        &,
        &::after,
        &::before {
            display: inline-block;
            width: 3.5rem;
            height: 3px;
            background-color: $color-grey-dark-2;
            transition: all 0.2s;
        }

        &:hover &::before {
            transform: translateY(-6px);
        }


        &::after,
        &::before {
            content: "";
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
        }

        &::after {
            top: 40%;
        }

        &::before {
            top: 60%;
        }
    }


    &__checkbox:checked+&__button &__icon {
        transform: rotate(45deg);

        &::before {
            transform: rotate(-87deg) translate(0px, -18px);
            // transform-origin: 30%;
        }

        &::after {
            opacity: 0;
        }
    }

    &__item {}

    &__checkbox:checked~&__nav {
        opacity: 1;
        width: 100%;
    }

    &__checkbox:checked~&__background {
        transform: scale(80);
    }

    &__link {

        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            text-transform: uppercase;
            color: $color-white;
            padding: 1rem 2rem;
            text-decoration: none;
            background-image: linear-gradient(120deg,
                    transparent 0%,
                    transparent 50%,
                    $color-white 50%);
            background-size: 220%;
            transition: .5s;

            span {
                display: inline-block;
                margin-right: 1.6rem;
            }
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary ;
            transform: translateX(1rem);
        }
    }
}