.btn {

    &:link,
    &:visited {
        text-decoration: none;
        text-transform: uppercase;
        padding: 15px 40px;
        position: relative;
        display: inline-block;
        border-radius: 100px;
        transition: all 0.2s ease-in;
    }

    &--animated {
        animation: move-in-bottom 0.3s 0.70s;
        animation-fill-mode: backwards;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

        &::after {
            transform: scaleX(1.3) scaleY(1.5);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.2);
    }

    &--white {
        color: $color-grey-dark;
        background-color: $color-white;

        &::after {
            background-color: $color-white;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: 100px;
        transition: all .3s ease-out;
    }
}