.composition {
    position: relative;

    &:hover &__photo:not(:hover) {
        transform: scale(0.95);
    }

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
        position: absolute;
        transition: all 0.2s;
        outline-offset: 8px;

        &--1 {
            left: 0;
            top: -2rem;
        }

        &--2 {
            right: 0;
            top: 2rem;
        }

        &--3 {
            top: 10rem;
            left: 20%;
            transform: rotate(-2deg);
        }

        &:hover {
            transform: scale(1.05) translateY(-0.5rem);
            z-index: 1;
            box-shadow: 0 2.5rem 4rem rgba($color-black, 0.6);
            outline: 8px solid $color-primary;
        }


    }

}