.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        border: none;
        font-family: inherit;
        border-bottom: 3px solid transparent;
        display: block;
        width: 80%;
        color: inherit;
        transition: all 0.3s;

        &:focus {
            outline: none;
            box-shadow: 0 0.5rem 1rem rgba($color-black, .2);
            border-color: $color-primary;

            &:invalid {
                border-color: $color-secondary;
            }
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }
    }



    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all 0.3s;
    }

    &__input:placeholder-shown+&__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__radio-group {
        width: 48%;
        display: inline-block;
    }

    &__radio-label {
        font-size: $default-font-size;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 0.7rem;
    }

    &__radio-input {
        visibility: hidden;
    }

    &__radio-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        margin-top: -6px;
        border: 5px solid $color-primary;
        border-radius: 50%;

        &::after {
            content: "";
            display: block;
            width: 0.89rem;
            height: 0.89rem;
            border-radius: 50%;
            opacity: 0;
            background-color: $color-primary;
            transition: 0.2s;
        }
    }

    &__radio-input:checked+&__radio-label &__radio-button::after {
        opacity: 1;
    }
}