.popup {
    position: fixed;
    inset: 0;
    background-color: rgba($color-grey-dark, .9);
    z-index: 3000;

    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &__close {

        &:link,
        &:visited {
            text-decoration: none;
            cursor: pointer;
            font-size: 3rem;
            position: absolute;
            top: 2rem;
            right: 2.2rem;
            transition: all 0.3s;
            line-height: 1;
        }

        &:hover,
        &:active {
            color: $color-primary;
        }
    }

    &__content {
        width: 75%;
        margin: 0 auto;
        box-shadow: 0 2rem 4rem rgba($color-black, .3);
        position: relative;
        top: 50%;
        transform: scale(0.5) translateY(-50%);
        background-color: white;
        z-index: 5000;
        border-radius: 3px;
        display: table;
        gap: 5rem;
        overflow: hidden;
        transition: all 0.3s 0.2s;
    }

    &:target &__content {
        transform: translateY(-50%) scale(1);
    }

    &__left {
        width: 33.333333%;
        display: table-cell;
    }

    &__right {
        width: 66.666666%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;

        & .heading-tertiary {
            margin-bottom: 1rem;
        }
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;
        line-height: 1.5;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-light-1;
        hyphens: auto;
    }
}