.story {
    width: 75%;
    box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
    background-color: $color-white;
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    transform: skewX(-12deg);

    &__picture {
        width: 15rem;
        height: 15rem;
        background-color: green;
        float: left;
        // -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        // -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);
        position: relative;
    }

    &__img {
        height: 100%;
        transform: translateX(-3.8rem) scale(1.2);
        background-position: left;
        transition: all 0.4s;
    }

    &__text {
        transform: skewX(12deg);
    }

    &__caption {
        position: absolute;
        top: 50%;
        opacity: 0;
        left: 55%;
        text-transform: uppercase;
        font-size: 1.7rem;
        transform: translate(-50%, 100%);
        color: $color-white;
        transition: all 0.5s;
        backface-visibility: hidden;
    }

    &:hover &__img {
        transform: translateX(-3.8rem) scale(1);
        filter: blur(3px) brightness(90%);
    }

    &:hover &__caption {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}