.u-center-text {
    text-align: center;
}

.u-margin-top-big {

    margin-top: 8rem;

}

.u-margin-bottom {
    &-big {
        margin-bottom: 8rem;
    }

    &-medium {
        margin-bottom: 4rem;
    }

    &-small {
        margin-bottom: 2rem;
    }
}

.u-nowrap-text {
    white-space: nowrap;
}