.u-center-text {
    text-align: center !important;
}

.u-margin-top-big {

    margin-top: 8rem !important;

}

.u-margin-bottom {
    &-big {
        margin-bottom: 8rem !important;
    }

    &-medium {
        margin-bottom: 4rem !important;
    }

    &-small {
        margin-bottom: 2rem !important;
    }
}

.u-nowrap-text {
    white-space: nowrap;
}