.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -18vh;
}

.section-features {
    background: linear-gradient(to top left, rgba($color-primary-dark, 0.8), rgba($color-primary-dark, 0.8)), url("/img/nat-10.jpg");
    background-size: cover;
    background-position: center;
    padding: 20rem 0;
    transform: skewY(-7deg) translateY(-7rem);

    &>* {
        transform: skewY(7deg);
    }
}